/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans",sans-serif;
}
body {
	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)),url(./assets/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-shadow: 1px 3px 3px black;
}
section{
	min-height:100vh ;
	padding-top: 102px
}

#projects img {
	width: 30%;
	height: 30%;
}
a,a:link ,a:visited {
	text-decoration: none;
	color:white;
}
.bg-main {
/*	background: linear-gradient(45deg,#202020,#666666,#777777);*/
	background-color: #202020;
}
.bg-green {
	background:linear-gradient(0deg,rgba(51,81,36,1),rgba(74,154,31,0.9));
}
.bg-card {
	background:linear-gradient(0deg,rgba(51,81,36,0.7),rgba(74,154,31,0.7));
	border-radius: 20px;
}
.bg-container {
	background-color: rgba(51,81,36,0.6);
	border-radius: 20px;
	box-shadow: black;
}
nav img {
	width: 20%;
	box-shadow: black;
}
nav li {
	margin-right: 1rem;
}

nav {
	border-bottom: 2px solid rgba(255,255,255,0.5);
}
.navbar-brand {
	font-family: "Libre Baskerville",sans-serif;
	font-size: 1.75rem;

}
.navbar-brand:hover {
	font-weight: bold;
	
}


#landing img {
	width:50%;
	border: 5px solid rgba(74,154,31,1);
}

.fa-brands {
	font-size: 2rem;
	margin-right: 1rem;
	padding: 1rem 0 1rem 0;
	text-shadow: 1px 3px 5px rgba(74,154,31,1) ;
}
#landing .fa-brands:hover {
	font-size: 2.5rem;
	margin-right: 1rem;
	padding: 1rem 0 1rem 0;
	text-shadow: none;
}
#contact .fa-brands:hover {
	margin-right: 1rem;
	padding: 1rem 0 1rem 0;
	text-shadow: none;
}

.fa-facebook {
	color: #316FF6;
	margin-left: 1rem;
}
.fa-x-twitter {
	color: #fff;
}
.fa-linkedin {
	color: #0077B5;
}
.fa-google-plus-g {
	color: #db4a39;
}
.fa-gitlab {
	color: #E2432A;
}
.fa-github {
	color: #fff;
}
#projects img {
	width: 50vw;
}
#projects .card {
	width: 70%;
	height: 90%;
}

.btn-card {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d4af37;
  --bs-btn-border-color: #f2c83f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a6892b;
  --bs-btn-hover-border-color: #a6892b;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d4af37;
  --bs-btn-active-border-color: #d4af37;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

#contact iframe {
	width: 100%;	 
	height: 90%; 
	border:5px solid rgba(74,154,31,1);
	border-radius: 20px;
}
#forms {
	border:5px solid rgba(74,154,31,1)
}
textarea {
	resize: none;
}
input,textarea {
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100px;
    outline: none;
}

.bg-tools {
	background-color: rgba(255,255,255,0.5);
}
#tools img {
	width:150px;
}
footer span {
	margin-right: 1rem;
}
.bg-footer {
	background: linear-gradient(0deg,rgba(51,81,36,0.6),rgba(21,21,21,0.6));
}
#intro {
	text-align: justify;
}
h1 {
	font-family: "Kanit",sans-serif;
}
@media (min-width: 768px) {
  #about-me-container {
		background-color: rgba(51,81,36,0.6);
		border-radius: 20px;
		box-shadow: black;
		border:5px solid rgba(74,154,31,1);
	}
}
